<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <title>Lunos Bakery</title>

    <!--FONTS GOOGLE-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap" rel="stylesheet">
    <!-- Font awesome-->
    <script src="https://kit.fontawesome.com/c14d3ceec8.js" crossorigin="anonymous"></script>
    <!-- CSS -->

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/lunosyle.css" rel="stylesheet">
    <link href="css/carousel.css" rel="stylesheet">

</head>

<body class="pb-0">
    <!--SECCIÓN DE NAVBAR FIXEX-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="tortuga-navbar-img" src="images/tortuga.png"
                    alt="tortuga-navbar-img"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Inicio</a>
                    </li>
                    <% if(userLogIn){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/menu">Menú</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/settings">Configuración</a>
                    </li>
                    <%}%>
                </ul>
                <ul class="nav">
                    <% if(userLogIn){ %>
                    <a type="button" class="btn btn-warning me-2" href="/cerrar-sesion">Cerrar sesión</a>
                    <%} else {%>
                    <a type="button" class="btn btn-warning me-2" href="/Iniciar-sesion">Iniciar sesión</a>
                    <% } %>

                </ul>
            </div>
        </div>
    </nav>