<%- include('../partials/header') %>

<main>

    <div class="d-block  position-static bg-secondary lunos-section py-5">
        <div class="container">
            <!--Información personal-->
            <div class="my-3 p-3 bg-body rounded shadow-lg border mx-auto w-50">
                <div class="row mb-3">
                    <div class="col-lg-2">
                        <a class="link-success" href="/settings"><i
                                class="fa-solid fa-arrow-left icon-reaction-size-m"></i></a>
                    </div>
                    <div class="col-lg-8">
                        <h6 class="lead fw-bold border-bottom pb-2 mb-0">Configurar género</h6>
                    </div>
                    <div class="col-lg-2">
                        <a class="link-success" href="/"><i class="fa-solid fa-xmark icon-reaction-size-m"></i></a>
                    </div>
                </div>
                <form action="/settings-gender" method="post">
                    <div class="col-sm-12 mb-3">
                        <div class="form-check d-flex">
                            <input class="form-check-input" type="radio" name="genero" id="genero1" value="Femenino" 
                            <%if(user.genero == "Femenino"){%>
                                checked
                            <%}%>
                            >
                            <label class="form-check-label ps-3" for="genero1">
                                Femenino
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12 mb-3">
                        <div class="form-check d-flex">
                            <input class="form-check-input" type="radio" name="genero" id="genero2" value="Masculino"
                            <%if(user.genero == "Masculino"){%>
                                checked
                            <%}%>
                            >
                            <label class="form-check-label ps-3" for="genero2">
                                Masculino
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-12 mb-3">
                        <div class="form-check d-flex">
                            <input class="form-check-input" type="radio" name="genero" id="genero3" value="Prefiero no decirlo"
                            <%if(user.genero == "Prefiero no decirlo"){%>
                                checked
                            <%}%>
                            >
                            <label class="form-check-label ps-3" for="genero3">
                                Prefiero no decirlo
                            </label>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-lg btn-success w-100 mx-0 mb-2">Guardar</button>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-lg btn-light w-100"
                                data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>

<%- include('../partials/footer') %>