<%- include('partials/header') %>





<main>
    <!--Carrusel-->
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/home/carousel-1.jpg" alt="" class="corusel-img">
                <div class="container">
                    <div class="carousel-caption text-start">

                        <h1>Producto 100% artesanal.</h1>
                        <p>“Más alimenta el pan casero, que el que vende el panadero.”</p>
                        <!--
                        <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                        -->
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/home/carousel-2.jpg" alt="" class="corusel-img">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Areas limpias.</h1>
                        <p>“El huevo de hoy, el pan de ayer y el vino de un año, a todos hace provecho y a ninguno
                            daño.”</p>
                        <!--
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                        -->
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/home/carousel-3.jpg" alt="" class="corusel-img">
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Panaderos de calidad.</h1>
                        <p>“Molino que estás moliendo el trigo con tanto afán, ¡Tú estás haciendo la harina y otros se
                            comen el pan!”</p>
                        <!--
                        <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--Marketing-->
    <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-6">
                <img src="images/home/luno_trabajando.jpg" alt="" class="rounded-circle home-img-profile">
                <h2 class="fw-normal">Luno López</h2>
                <p>Lorem ipsum dolor sit amet, nulla sem in facilisis sed, dis nulla metus eros rhoncus, at lacus
                    aenean
                    tincidunt, magna dictum. Non dui nobis justo commodo ut, lobortis sed pharetra eros ipsum et
                    dictumst.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-6">
                <img src="images/home/oscar_cara.jpg" alt="" class="rounded-circle home-img-profile">
                <h2 class="fw-normal">Oscar López</h2>
                <p>Lorem ipsum dolor sit amet, nulla sem in facilisis sed, dis nulla metus eros rhoncus, at lacus
                    aenean
                    tincidunt, magna dictum. Non dui nobis justo commodo ut, lobortis sed pharetra eros ipsum et
                    dictumst.</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Lorem ipsum dolor sit amet.</h2>
                <p class="lead">Scelerisque arcu praesent luctus, et erat wisi eu lectus mollis nunc, vestibulum sed et
                    quisque egestas ut dolor, pulvinar massa tempor wisi facilisis, rutrum quisque suspendisse et magna
                    felis. Aliquam fringilla morbi, diam enim, torquent nulla ad sem quis natoque purus. Urna rhoncus
                    quisque cras at metus justo, torquent purus penatibus mauris. Dignissim netus at donec amet, vitae
                    quisque sed felis cras, eros vitae nibh quam penatibus, non nullam eu fusce egestas.</p>
            </div>
            <div class="col-md-5">
                <img src="images/home/luno_trabajando.jpg" alt="" class="home-img-500 img-fluid">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Lorem ipsum dolor sit amet.</h2>
                <p class="lead">Scelerisque arcu praesent luctus, et erat wisi eu lectus mollis nunc, vestibulum sed et
                    quisque egestas ut dolor, pulvinar massa tempor wisi facilisis, rutrum quisque suspendisse et magna
                    felis. Aliquam fringilla morbi, diam enim, torquent nulla ad sem quis natoque purus. Urna rhoncus
                    quisque cras at metus justo, torquent purus penatibus mauris. Dignissim netus at donec amet, vitae
                    quisque sed felis cras, eros vitae nibh quam penatibus, non nullam eu fusce egestas.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="images/home/oscar_pizza.jpg" alt="" class="home-img-500 img-fluid">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Lorem ipsum dolor sit amet.</h2>
                <p class="lead">Scelerisque arcu praesent luctus, et erat wisi eu lectus mollis nunc, vestibulum sed et
                    quisque egestas ut dolor, pulvinar massa tempor wisi facilisis, rutrum quisque suspendisse et magna
                    felis. Aliquam fringilla morbi, diam enim, torquent nulla ad sem quis natoque purus. Urna rhoncus
                    quisque cras at metus justo, torquent purus penatibus mauris. Dignissim netus at donec amet, vitae
                    quisque sed felis cras, eros vitae nibh quam penatibus, non nullam eu fusce egestas.</p>
            </div>
            <div class="col-md-5">
                <img src="images/home/sells_box.jpg" alt="" class="home-img-500 img-fluid">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->





</main>




<%- include('partials/footer') %>