<%- include('partials/header') %>

<main>

    <div class="d-block  position-static bg-secondary lunos-section py-5">
        <div class="container">
            <!--Información personal-->
            <div class="my-3 p-3 bg-body rounded shadow-lg border mx-auto w-50">
                <div class="row mb-3">
                    <div class="col-lg-2">
                        <a class="link-success" href="/"><i class="fa-solid fa-arrow-left icon-reaction-size-m"></i></a>
                    </div>
                    <div class="col-lg-8">
                        <h6 class="lead fw-bold border-bottom pb-2 mb-0">Iniciar sesión</h6>
                    </div>
                    <div class="col-lg-2">
                        <a class="link-success" href="/"><i class="fa-solid fa-xmark icon-reaction-size-m"></i></a>
                    </div>
                </div>
                <form action="/iniciar-sesion" method="post">
                    <div class="col-12 mb-3">
                        <label for="username" class="form-label">Nombre de usuario <span class="text-muted"></span></label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Ingresa tu nombre de usuario">
                    </div>

                    <div class="col-12 mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <div class="input-group has-validation">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="/crear-cuenta">Crear cuenta</a>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-lg btn-success w-100 mx-0 mb-2">Iniciar sesión</button>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-lg btn-light w-100"
                                data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>

<%- include('partials/footer') %>