<%- include('partials/header') %>

<main>
    <div class="d-block  position-static bg-secondary lunos-section py-5">
        <div class="container">
            <!--Información personal-->
            <div class="my-3 p-3 bg-body rounded shadow-lg border ">
                <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                        <h2 class="featurette-heading fst-italic lh-1">nombre:Bollito relleno.</h2>
                        <p class="lead lh-lg">descripción:Si la luna es bonita más bonito es el sol, pero una mirada
                            tuya no
                            tiene
                            comparación.</p>
                        <h4 class="fw-normal lh-lg">Ingredientes</h4>
                        <p class="lead">un huevo</p>
                        <h4 class="fw-normal lh-lg">Preparación</h4>
                        <p class="lead">un huevo</p>
                        <h4 class="fw-normal lh-lg">⭐⭐⭐⭐⭐</h4>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <img src="images/desserts/muffin.jpg" alt="" class="home-img-500 img-fluid rounded">
                    </div>
                </div>
                <div class="row featurette">
                    <div class="col-md-5 order-md-1">
                        <div class="row">
                            <div class="col d-flex flex-row p-4">
                                <i id="item-heart"
                                    class="fa-regular fa-heart icon-reaction-size d-flex me-5 icon-reaction-heart"></i>
                                <i id="item-comment"
                                    class="fa-regular fa-comment icon-reaction-size icon-reaction-comment"></i>
                            </div>
                            <div class="col d-flex flex-row-reverse p-4">
                                <i id="item-bookMark"
                                    class="fa-regular fa-bookmark icon-reaction-size icon-reaction-bookmark"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row featurette">
                    <div class="col">
                        <h4 class="Lead fw-bold">Comentarios</h4>
                    </div>
                </div>
                <div class="row featurette">
                    <div class="input-group">
                        <span class="input-group-text border-dark"><img src="images/profile/perfil.png"
                                class="profile-little " alt="perfil-alt"></span>
                        <div class="form-floating">
                            <textarea class="form-control border-dark" placeholder="Leave a comment here"
                                id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Comparte tu opinión</label>
                        </div>
                        <span class="input-group-text border-dark"><i
                                class="fa-solid fa-paper-plane icon-reaction-size icon-reaction-send"></i></span>
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <img src="images/profile/perfil.png" class="profile-little me-4" alt="perfil-alt">
                                    Raul Armando Valencia Ruiz
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the first item's accordion body.</strong> It is shown by
                                    default, until
                                    the
                                    collapse plugin adds the appropriate classes that we use to style each element.
                                    These
                                    classes control the overall appearance, as well as the showing and hiding via
                                    CSS
                                    transitions. You can modify any of this with custom CSS or overriding our
                                    default
                                    variables.
                                    It's also worth noting that just about any HTML can go within the
                                    <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Accordion Item #2
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the second item's accordion body.</strong> It is hidden by
                                    default,
                                    until
                                    the collapse plugin adds the appropriate classes that we use to style each
                                    element.
                                    These
                                    classes control the overall appearance, as well as the showing and hiding via
                                    CSS
                                    transitions. You can modify any of this with custom CSS or overriding our
                                    default
                                    variables.
                                    It's also worth noting that just about any HTML can go within the
                                    <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Accordion Item #3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by
                                    default, until
                                    the
                                    collapse plugin adds the appropriate classes that we use to style each element.
                                    These
                                    classes control the overall appearance, as well as the showing and hiding via
                                    CSS
                                    transitions. You can modify any of this with custom CSS or overriding our
                                    default
                                    variables.
                                    It's also worth noting that just about any HTML can go within the
                                    <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>

<%- include('partials/footer') %>